:root{    
    --button_background:#15a703; 
    --button_font:#ffffff;
}

.smart-style-2 .btn.btn-ribbon {
    background: var(--button_background);
}

.smart-style-2 .btn-success {
    background-color: #96bf48;
    border-color: #84A83E
}

.smart-style-2 .btn-danger {
    background-color: #DB4A67;
    border-color: #CA4862
}

.smart-style-2 .btn-warning {
    background-color: #E2B14A;
    border-color: #C99D42
}


.smart-style-2 .btn-primary, .smart-style-2 .smart-form .button {
    background-color: var(--button_background);
    border-color: #3292E2
}

.smart-style-2 .btn-primary.active, .smart-style-2 .btn-primary:active, .smart-style-2 .btn-primary:focus, .smart-style-2 .btn-primary:hover, .smart-style-2 .open .dropdown-toggle.btn-primary {
    background-color: #3E90D4;
    border-color: #2F7DBE
}


.smart-style-2 .btn-success.active, .smart-style-2 .btn-success:active, .smart-style-2 .btn-success:focus, .smart-style-2 .btn-success:hover, .smart-style-2 .open .dropdown-toggle.btn-success {
    background-color: #89AD45;
    border-color: #78973B
}

.smart-style-2 .btn-danger.active, .smart-style-2 .btn-danger:active, .smart-style-2 .btn-danger:focus, .smart-style-2 .btn-danger:hover, .smart-style-2 .open .dropdown-toggle.btn-danger {
    background-color: #CF4762;
    border-color: #C0455E
}

.smart-style-2 .btn-warning.active, .smart-style-2 .btn-warning:active, .smart-style-2 .btn-warning:focus, .smart-style-2 .btn-warning:hover, .smart-style-2 .open .dropdown-toggle.btn-warning {
    background-color: #D6A848;
    border-color: #C09844
}