<div *ngIf="loader" class="taskloader_div">
  <div class="task_loader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<div id="content" class="col-sm-12 content-scroll">
  <div class="wrap">
    <div class="alert alert-success alert-dismissible" *ngIf="IsSuccess" style="background-color: green;color: #fff;">
      <strong>Success! </strong>{{message}}.
      <button type="button" class="close" data-dismiss="alert" style="opacity: 1;color: #fff;" (click)="IsSuccess = false">&times;</button>
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="IsError" style="background-color: #ce2f2f;color: #fff;">
      <strong>Error! </strong>{{message}}.
      <button type="button" class="close" data-dismiss="alert" style="opacity: 1;color: #fff;" (click)="IsError = false">&times;</button>
    </div>
    <div class="alert alert-warning  alert-dismissible" *ngIf="IsWarning">
      <strong><i class="fa fa-warning"></i>
        Warning! </strong>{{message}}.
    </div>
    <div class="resizable resizable1 example-2">
      <div class="inner">
        <div class="col-sm-12 no-padding">
          <div id="searchLayoutDiv" class="col-sm-12 row" style="width:100%;" *ngIf="pageLayout && pageLayout['pageLayoutTemplate']">
            <div *ngFor="let layoutElem of pageLayout['pageLayoutTemplate']; let isFirst = first">
              <div class="search-task-widget-wrapper" *ngIf="layoutElem.sectionHeader != 'Buttons'">
                <mat-accordion id="srchLayoutAccordion">
                  <mat-expansion-panel class="accordionPanel" [expanded]="isFirst">
                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'" class="accordionPanelHeading">
                      {{layoutElem.sectionHeader}}
                    </mat-expansion-panel-header>

                    <div class="accordionPanelBody" style="column-count: 1;">
                      <form (keyup.enter)="searchData($event,layoutElem)" class="smart-form task-search-form">
                        <div style="width: calc(100% - 30px); padding: 15px;display: grid; grid-template-columns: auto auto auto auto auto;" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                          <div *ngFor="let obj of layoutElem.fieldsList; let i=index;">
                            <!-- <div *ngIf="i%2 == 0">
                                  <div id="searchLayout" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
                                </div> -->
                            <div id="searchLayout" class="col-xs-12 col-md-4 col-sm-6 col-lg-3" style="width: 260px;margin-bottom: 10px;">
                              <!-- <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <label style="font-size:14px;">{{obj.label}}</label>
                                  </span> -->
                              <div>
                                <div>
                                  <div class="form-group" style="width: 95%;">
                                    <div [ngSwitch]="obj.type">
                                      <div class="form-group" *ngSwitchCase="'TextBox'" style="width: 95%;">
                                          <label class="control-label">{{obj.label}}</label>
                                        <input type="text" class="form-control input" name="textObj-{{i}}" #textObj="ngModel"
                                          [(ngModel)]="modelValue[obj.label]">
                                      </div>
                                      <div *ngSwitchCase="'textArea'">
                                          <label class="control-label">{{obj.label}}</label>
                                        <textarea autosize name="textAreaObj-{{i}}" #textAreaObj="ngModel" [(ngModel)]="modelValue[obj.label]"
                                          rows="1"></textarea>
                                      </div>
                                      <div *ngSwitchCase="'SingleSelect'">
                                          <label class="control-label">{{obj.label}}</label>
                                        <select class="srchLayoutSingleSelect" [(ngModel)]="modelValue[obj.label]" name="selectObj-{{i}}"
                                          #selectObj="ngModel">
                                          <option></option>
                                          <option *ngFor="let listOfValue of obj.dataSource">{{listOfValue}}</option>
                                        </select>
                                      </div>
                                      <div *ngSwitchCase="'Select'">
                                          <label class="control-label">{{obj.label}}</label>
                                        <select class="srchLayoutSingleSelect" [(ngModel)]="modelValue[obj.label]" name="selectObj-{{i}}"
                                          #selectObj="ngModel">
                                          <option></option>
                                          <option *ngFor="let listOfValue of obj.dataSource">{{listOfValue}}</option>
                                        </select>
                                      </div>
                                      <div *ngSwitchCase="'MultiSelect'">
                                          <label class="control-label">{{obj.label}}</label>
                                        <ng-select2 class="srchLayoutMultiSelect" [data]="obj.dataSource" [options]="options"
                                          [(ngModel)]="modelValue[obj.label]" name="multiObj-{{i}}" #multiObj="ngModel">
                                        </ng-select2>
                                      </div>
                                      <div *ngSwitchCase="'Date'">
                                          <label class="control-label">{{obj.label}}</label>
                                        <div *ngIf="obj.operator == 'between'">
                                          <input type="text" bsDaterangepicker name="textObj-{{i}}" #textObj="ngModel"
                                            (ngModelChange)="dateUpdated(obj, $event)" [(ngModel)]="modelValue[obj.label]">
                                        </div>
                                        <div *ngIf="obj.operator != 'between'">
                                          <input type="text" bsDatepicker name="textObj-{{i}}" #textObj="ngModel"
                                            (ngModelChange)="dateUpdated(obj, $event)" [(ngModel)]="modelValue[obj.label]">
                                        </div>
                                      </div>
                                      <!-- <div *ngSwitchCase="'SearchTextBox'">
                                            <mat-form-field class="srchLayoutMatFormField">
                                              <input type="text" name="search" matInput [matAutocomplete]="auto" [(ngModel)]="modelValue[obj.label]"
                                                (input)="filter($event.target.value, obj)">
                                              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="srchLayoutMatAutoComplete">
                                                <mat-option class="srchLayoutMatOption" *ngFor="let object of obj.dataSource" [value]="object.value">
                                                  {{object.data}}
                                                </mat-option>
                                              </mat-autocomplete>
                                              </mat-form-field>
                                          </div> -->
                                      <div *ngSwitchDefault>
                                          <label class="control-label">{{obj.label}}</label>
                                        <input type="text" name="textObj-{{i}}" #textObj="ngModel" [(ngModel)]="modelValue[obj.label]">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 span-operator">

                                    <select class="srchLayoutSingleSelect" id="{{obj.pageLayoutFieldId}}" placeHolder='Please select'
                                      name="selectObj-{{obj.pageLayoutFieldId}}-{{i}}" #selectObj="ngModel"
                                      (ngModelChange)="onChange(obj, $event)" [(ngModel)]="obj.operator">
                                      <option *ngFor="let listOfValue of getOperators(obj.type)">{{listOfValue}}</option>
                                    </select>
                                  </span> -->

                              <span class="col-xs-4 col-sm-4 col-md-4 col-lg-6" *ngIf="demo">
                                <div [ngSwitch]="obj.type">
                                  <div class="form-group" *ngSwitchCase="'TextBox'">
                                    <input type="text" class="form-control input" name="textObj-{{i}}" #textObj="ngModel"
                                      [(ngModel)]="modelValue[obj.label]">
                                  </div>
                                  <div *ngSwitchCase="'textArea'">
                                    <textarea autosize name="textAreaObj-{{i}}" #textAreaObj="ngModel" [(ngModel)]="modelValue[obj.label]"
                                      rows="1"></textarea>
                                  </div>
                                  <div *ngSwitchCase="'SingleSelect'">
                                    <select class="srchLayoutSingleSelect" [(ngModel)]="modelValue[obj.label]" name="selectObj-{{i}}"
                                      #selectObj="ngModel">
                                      <option></option>
                                      <option *ngFor="let listOfValue of obj.dataSource">{{listOfValue}}</option>
                                    </select>
                                  </div>
                                  <div *ngSwitchCase="'Select'">
                                    <select class="srchLayoutSingleSelect" [(ngModel)]="modelValue[obj.label]" name="selectObj-{{i}}"
                                      #selectObj="ngModel">
                                      <option></option>
                                      <option *ngFor="let listOfValue of obj.dataSource">{{listOfValue}}</option>
                                    </select>
                                  </div>
                                  <div *ngSwitchCase="'MultiSelect'">
                                    <ng-select2 class="srchLayoutMultiSelect" [data]="obj.dataSource" [options]="options"
                                      [(ngModel)]="modelValue[obj.label]" name="multiObj-{{i}}" #multiObj="ngModel">
                                    </ng-select2>
                                  </div>
                                  <div *ngSwitchCase="'Date'">
                                    <div *ngIf="obj.operator == 'between'">
                                      <input type="text" bsDaterangepicker name="textObj-{{i}}" #textObj="ngModel"
                                        (ngModelChange)="dateUpdated(obj, $event)" [(ngModel)]="modelValue[obj.label]">
                                    </div>
                                    <div *ngIf="obj.operator != 'between'">
                                      <input type="text" bsDatepicker name="textObj-{{i}}" #textObj="ngModel"
                                        (ngModelChange)="dateUpdated(obj, $event)" [(ngModel)]="modelValue[obj.label]">
                                    </div>
                                  </div>
                                  <!-- <div *ngSwitchCase="'SearchTextBox'">
                                        <mat-form-field class="srchLayoutMatFormField">
                                          <input type="text" name="search" matInput [matAutocomplete]="auto" [(ngModel)]="modelValue[obj.label]"
                                            (input)="filter($event.target.value, obj)">
                                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="srchLayoutMatAutoComplete">
                                            <mat-option class="srchLayoutMatOption" *ngFor="let object of obj.dataSource" [value]="object.value">
                                              {{object.data}}
                                            </mat-option>
                                          </mat-autocomplete>
                                          </mat-form-field>
                                      </div> -->
                                  <div *ngSwitchDefault>
                                    <input type="text" name="textObj-{{i}}" #textObj="ngModel" [(ngModel)]="modelValue[obj.label]">
                                  </div>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

            <div *ngFor="let layoutElem of pageLayout['pageLayoutTemplate']">
              <div class="row search-btn-control text-right" *ngIf="layoutElem.sectionHeader == 'Buttons'">
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9"> </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="position: relative;right: 10px;">
                  <span *ngFor="let button of layoutElem.fieldsList">
                    <button class="btn btn-success blue__btn mr-0" mat-raised-button (click)="searchTask(layoutElem);"
                      color="primary" *ngIf="button.click == 'searchTask' && button.btnVisibility == true">
                      {{ button.label }}
                    </button>
                    <a mat-raised-button (click)="clear(pageLayout['pageLayoutTemplate']);" routerLink="." class="clear-btn reset-bgclr"
                      *ngIf="button.click == 'clear' && button.btnVisibility == true">
                      {{ button.label }}
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>