<div sa-widget [colorbutton]="false" [editbutton]="false" [custombutton]="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Bootstrap Duallist Box  </h2>

  </header>

  <!-- widget div-->
  <div>


    <!-- widget content -->
    <div class="widget-body">

<!-- 
      <duallistbox size="10"
                   [items]="options"
                   (itemsChange)="onChange($event)"
      [nonSelectedFilter]="filter" [moveOnSelect]="true">

      </duallistbox> -->



      <div class="bootstrap-duallistbox-container row"> 
        <div class="box1 col-md-6"> 
            <label for="bootstrap-duallistbox-nonselected-list_">Non-selected</label>  
             <span class="info-container">   
  <span class="info">Showing all 20</span>   
    <button type="button" class="btn clear1 pull-right btn-default btn-xs">show all</button> 
    </span>   
    <input class="filter form-control" type="text" placeholder="Filter">  
<div class="btn-group buttons">   
 <button type="button" class="btn moveall btn-default" title="Move all">  
   <i class="glyphicon glyphicon-arrow-right"></i>    
      <i class="glyphicon glyphicon-arrow-right"></i>    
     </button>   
       <button type="button" class="btn move btn-default" title="Move selected">   
             <i class="glyphicon glyphicon-arrow-right"></i>   
              </button>  
             </div> <select multiple="multiple" id="bootstrap-duallistbox-nonselected-list_" 
             class="form-control" name="_helper1" style="height: 100px;">
             
             <option value="option4" class="ng-star-inserted">Option 4</option>
             <option value="option3" class="ng-star-inserted">Option 3</option>
             <option value="option2" class="ng-star-inserted">Option 2</option>
             <option value="option1" class="ng-star-inserted">Option 1</option>
            </select> </div> <div class="box2 col-md-6">  
           <label for="bootstrap-duallistbox-selected-list_">Selected</label>  
            <span class="info-container">   
            <span class="info">Empty list</span>  
         <button type="button" class="btn clear2 pull-right btn-default btn-xs">show all</button> 
        </span>   <input class="filter form-control" type="text" placeholder="Filter">  
         <div class="btn-group buttons">   
             <button type="button" class="btn remove btn-default" title="Remove selected">  
                    <i class="glyphicon glyphicon-arrow-left"></i>   
                    </button>  
       <button type="button" class="btn removeall btn-default" title="Remove all">             
        <i class="glyphicon glyphicon-arrow-left"></i>    
           <i class="glyphicon glyphicon-arrow-left"></i>   
            </button>   </div>  
       <select multiple="multiple" id="bootstrap-duallistbox-selected-list_" 
       class="form-control" name="_helper2" style="height: 100px;"></select> 
      </div></div>    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
