@import './theme';
@import './functions';

.smart-style-3 body, body.smart-style-3 {
    background: #fff !important;
    font-family: var(--font_family);
  }
  
  .smart-style-3 {
    #logo img {
      width: 110px;
      height: auto;
      padding-left: 3px;
      margin-top: -3px;
    }
    #header {
      background-color: var(--navigation_background);
      background-image: -moz-linear-gradient(top, var(--navigation_background), #d67632);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--navigation_background)), to(#d67632));
      background-image: -webkit-linear-gradient(top, var(--navigation_background), #d67632);
      background-image: -o-linear-gradient(top, var(--navigation_background), #d67632);
      background-image: linear-gradient(to bottom, var(--navigation_background), #d67632);
    }
    #ribbon {
      background: #fff;
    }
    #hide-menu i {
      color: #fff !important;
    }

    .select2-selection__choice__remove {
      padding: 0px 0px 0px 5px !important;
      margin-right: -10px !important;
    }
    .modal-backdrop {
      z-index: -1;
    }

    .mat-tab-body.mat-tab-body-active {
      z-index: 1 !important;
  }

    
    .header-dropdown-list > li > .dropdown-toggle {
      display: block;
      background: rgba(0, 0, 0, 0.2);
      padding: 2px 7px 3px;
      border-radius: 3px;
      margin-top: 14px;
    }
    .header-search > {
      input[type=text] {
        border-color: #CA854F;
      }
      button {
        color: #DF9B45;
      }
    }
    aside {
      background: var(--leftPanel_background);
      border-right: 2px solid #ccc;
    }
    .login-info {
      border-bottom: 1px solid #E2E2E2;
      background: #fff;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      span {
        border-bottom: none;
      }
      a span {
        color: #444 !important;
      }
    }
    nav {
      > ul > li {
        background-color: #f2f2f2;
        background-image: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f2f2f2));
        background-image: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
        background-image: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
        background-image: linear-gradient(to bottom, #f9f9f9, #f2f2f2);
        border-bottom: 1px solid #DFDFDF;
        > a {
          padding: 12px 10px 12px 11px;
          font-size: 13px;
          b {
            top: 12px;
          }
          > i {
            color: #4D8BA5;
            font-size: 20px;
          }
        }
        &.active > a:before {
          top: 10px !important;
        }
        &.open {
          border-left: 4px solid #4D8BA5;
          > a {
            padding-left: 7px;
          }
          ul li > a, > ul > li > a {
            padding-left: 38px;
          }
        }
      }
      ul {
        li.active > a {
          &:before {
            top: 6px;
            color: #bbb;
          }
          font-weight: 700;
        }
        ul {
          background: 0 0;
          li > a {
            font-size: 13px;
          }
        }
        li a:hover {
          background: rgba(0, 0, 0, 0.05) !important;
        }
      }
    }
    .superbox-list.active:before {
      color: #3D3B39;
    }
    .active + .ajax-dropdown {
      -webkit-box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
      box-shadow: 1px 14px 16px rgba(61, 35, 14, 0.55);
    }
    .dropdown-menu {
      border-radius: 0;
      border-bottom: 2px solid #ADADAD;
      background: #FDDFB3;
      > li > a {
        color: #4E361B;
      }
      .divider {
        background-color: #EBC7A6;
      }
    }
    .dropdown-menu-large .dropdown-header {
      color: #5C391E;
    }
    .has-warning .form-control {
      border-color: #c09853 !important;
    }
    .has-error .form-control {
      border-color: #b94a48 !important;
    }
    .has-success .form-control {
      border-color: #468847 !important;
    }
    #shortcut {
      background-color: rgba(25, 16, 6, 0.85);
    }
    .ui-chatbox-titlebar {
      background-color: #66605B !important;
      &.ui-state-focus {
        background-color: #4B433C !important;
      }
    }
    #ribbon .breadcrumb {
      color: #7C7C7C !important;
      a {
        color: #7C7C7C !important;
      }
      li:last-child, > .active {
        color: #5F5F5F;
      }
    }
    &.fixed-ribbon #ribbon {
      box-shadow: 0 0.0625em 0.3125em rgba(0, 0, 0, 0.35);
    }
    #logo-group span#activity, .btn-header > :first-child > a {
      background-color: #DD7C37;
      background-image: -moz-linear-gradient(top, #dd7c37, #b9662b);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b9662b), to(#b9662b));
      background-image: -webkit-linear-gradient(top, #dd7c37, #b9662b);
      background-image: -o-linear-gradient(top, #dd7c37, #b9662b);
      background-image: linear-gradient(to bottom, #dd7c37, #b9662b);
      color: #fff !important;
      border: 1px solid #f09d61;
      text-shadow: #985813 0 -1px;
    }
    #logo-group span#activity {
      &:active, &:hover {
        -webkit-box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        -moz-box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        background-color: #dd7a35;
        background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
        background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
        background-image: -o-linear-gradient(top, #dd7a35, #984a13);
        background-image: linear-gradient(to bottom, #dd7a35, #984a13);
      }
    }
    .btn-header > :first-child > a {
      &:active, &:hover {
        -webkit-box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        -moz-box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        box-shadow: inset 1px 1px 0 #985813, inset -1px -1px 0 #985813;
        background-color: #dd7a35;
        background-image: -moz-linear-gradient(top, #dd7a35, #984a13);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7a35), to(#984a13));
        background-image: -webkit-linear-gradient(top, #dd7a35, #984a13);
        background-image: -o-linear-gradient(top, #dd7a35, #984a13);
        background-image: linear-gradient(to bottom, #dd7a35, #984a13);
      }
    }
    .header-dropdown-list > li > .dropdown-toggle, .project-context > :first-child, .project-selector {
      color: #fff;
      text-shadow: #985813 0 -1px;
    }
    nav {
      ul li {
        a {
          color: #444 !important;
        }
        &.open > a {
          color: #444 !important;
          b {
            color: #444 !important;
          }
        }
      }
      > ul {
        ul li::before, > li > ul::before {
          border: none;
        }
      }
    }
    .page-footer, .superbox-show {
      background: var(--footer_background);
      color: var(--footer_font);
    }
    &.minified nav {
      > ul > li {
        border-bottom: 1px solid #E9E4E4;
        border-top: 1px solid #FFF;
        &.open ul li > a {
          padding-left: 14px;
        }
        > ul {
          background-color: rgba(69, 69, 69, 0.9);
          > li > ul > li {
            background-color: rgba(69, 69, 69, 0.9);
          }
        }
      }
      ul li {
        a {
          color: #fff !important;
        }
        &.open > a {
          color: #fff !important;
          b {
            color: #fff !important;
          }
        }
      }
    }
    .dropdown-menu > {
      .active > a {
        background-color: #EC9519;
        color: #fff;
        &:hover {
          background-color: #EC9519;
          color: #fff;
        }
      }
      li > a {
        &:focus, &:hover {
          background-color: #EC9519;
          color: #fff;
        }
      }
    }
    .tt-suggestion.tt-is-under-cursor {
      background-color: #EC9519;
      color: #fff;
    }
    .dropdown-menu-large > li ul > li > a {
      &:focus, &:hover {
        border-radius: 3px;
        background-color: #F1B686;
      }
    }
    input {
      &:not([type]), &[type=color], &[type=email], &[type=number], &[type=password], &[type=tel], &[type=text], &[type=url] {
        border-top-color: #a3a3a3;
        border-left-color: #a3a3a3;
        border-bottom-color: #ccc;
        border-right-color: #ccc;
        -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
        -moz-box-shadow: inset 0 1px 0 #d6d6d6;
        box-shadow: none;
        color: #000;
      }
    }
    textarea {
      border-top-color: #a3a3a3;
      border-left-color: #a3a3a3;
      border-bottom-color: #ccc;
      border-right-color: #ccc;
      -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
      -moz-box-shadow: inset 0 1px 0 #d6d6d6;
      box-shadow: none;
      color: #000;
    }
    .select2-container-multi .select2-choices .select2-search-field input, .tt-hint {
      box-shadow: none !important;
      border: none !important;
    }
    .SmallBox span, .bigBox span {
      letter-spacing: 0;
    }
    &.menu-on-top {
      nav {
        ul {
          ul {
            li {
              > a {
                color: inherit;
              }
              a {
                padding-left: 10px !important;
                font-size: 13px;
              }
              &:hover > a {
                color: #fff;
              }
            }
            .active > a {
              color: #333 !important;
            }
          }
          > li > ul {
            left: -2px;
          }
        }
        > ul > li > a {
          &:hover {
            background: #fff !important;
          }
          &:after {
            color: #8AA1B3 !important;
          }
        }
      }
      aside {
        background: inherit;
        &#left-panel {
          -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
          border-bottom: 1px solid #fff;
          border-top: 1px solid #fff;
          nav > ul > li {
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #FFF;
            > a {
              text-shadow: none !important;
              font-size: 13px;
              padding: 10px 9px !important;
              border: none !important;
            }
            &:hover {
              background: #fff;
            }
          }
        }
      }
      nav {
        ul ul {
          border-color: #E2E2E2;
          ul {
            border-color: #E2E2E2;
          }
          li {
            a:hover, &:hover > a {
              background: rgba(0, 0, 0, 0.05);
            }
          }
          ul li a:hover {
            background: rgba(0, 0, 0, 0.05);
          }
          li a, ul li a {
            color: #D8DEE5;
          }
          li a:hover, ul li a:hover {
            color: #fff;
          }
          li:hover > a:after {
            color: inherit;
          }
          .active > a:hover, li.active:hover > a {
            color: #333 !important;
          }
        }
        > ul {
          ul > li a {
            &:after, &:hover:after {
              color: inherit;
            }
          }
          > li > a:after {
            color: inherit;
          }
        }
      }
    }

    .ui-widget {
      font-family: var(--font_family);
      font-size: 13px;
    }
    .ui-widget button {
      font-family: var(--font_family);
      font-size: inherit;
    }
    .wijmo-wijmenu .wijmo-wijmenu-item input {
      font-family: var(--font_family);
      font-size: inherit;
    }
    .shipping table tbody tr td p.price-container span {
      font-family: var(--font_family);
      font-size: inherit;
    }
    h1, h2, h3, h4 {
      font-family: var(--font_family);
      font-size: inherit;
    }
    .tooltip-inner {
      font-family: var(--font_family);
      font-size: inherit;
    }
  }
  
  @media (max-width: 979px) {
    .smart-style-3 {
      #content {
        padding-left: 5px;
        padding-right: 5px;
      }
      #ribbon {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border-radius: 0;
      }
    }
  





  .txt-color-white {
    color: var(--footer_font) !important;
  }

  .tabs-left > {
    .nav-pills, .nav-tabs {
      border-color: rgba(255, 255, 225, 0.15);
    }
  }
  .tabs-right > .nav-tabs {
    border-left-color: rgba(255, 255, 225, 0.15);
  }
  .jarviswidget header .nav-tabs > li.active > a {
    background: var(--header_background);
    color:var(--header_font) !important;
    &:focus, &:hover {
      background: var(--header_background);
      color: var(--header_font)
    }
  }

  .well-light .nav-tabs {
    background: var(--header_background);
    color: var(--header_font);
    padding-left: 10px;
  }
  
  .pagination > .active > {
    a {
      background-color: #36AECC;
      border-color: #36AECC;
      &:focus, &:hover {
        background-color: #36AECC;
        border-color: #36AECC;
      }
    }
    span {
      background-color: #36AECC;
      border-color: #36AECC;
      &:focus, &:hover {
        background-color: #36AECC;
        border-color: #36AECC;
      }
    }
  }

nav ul li a {
    color: var(--leftPanel_font) !important;
  }
  nav ul span.menu-item-parent {
    color: var(--leftPanel_font) !important;
  }

  nav ul ul {
    background: var(--leftPanel_background) !important;
    color: var(--leftPanel_font) !important;
  }

  .smart-style-1 nav ul ul li > a { 
    color: var(--leftPanel_font) !important;
  }

  .jarviswidget {
    header:first-child .nav-tabs li a, > header {
      color: #fff;
    }
  }

  .jarviswidget > header {
    background: var(--title_background) !important;
    color: var(--title_font) !important;
}

.tab-content {
  border-color: rgba(255, 255, 225, 0.15);
  background: var(--content_background) !important;
  color: var(--content_font) !important;
}

 .form-actions,  .smart-form.widget-body-toolbar,  .widget-body-toolbar,  label input[type=checkbox].checkbox + span:before,  
 label input[type=radio].radiobox + span:before {
  background: var(--input_background) !important;
  border-color: rgba(255, 255, 255, .53)
}

.table thead tr {
background-image: none;
background: var(--header_background);
color: var(--header_font);
}

.table tbody tr {
  background-image: none;
  background: var(--content_background);
  color: var(--content_font);
  }

.txt-color-white {
color: var(--footer_font) !important;
}

.bootstrap-tagsinput,  .form-control,  .input-group-addon,  .select2-container .select2-choice,  .select2-container .select2-choice .select2-arrow,  .select2-container-multi .select2-choices,  .smart-form .input input,  .smart-form .select select,  .smart-form .textarea textarea {
background: var(--input_background);
// border-color: rgba(0, 0, 0, 0);
color: var(--input_font);
}

.form-actions,  .smart-form.widget-body-toolbar,  .widget-body-toolbar,  label input[type=checkbox].checkbox + span:before,  label input[type=radio].radiobox + span:before {
background: var(--input_background) !important;
border-color: rgba(255, 255, 255, .53)
}

.smart-form {
.checkbox i {
  background: var(--content_background) !important;
  color: var(--content_font) !important;
  border-color: rgba(255, 255, 255, 0.4) !important;
}
.radio {
  i {
    background: var(--input_background) !important;
    border-color: #3276B1 !important;
  }
  input + i:after {
    background: #3276B1;
  }

}
}

.smart-form .radio input + i:after {
  background: #3276B1;
}
  .nav-tabs {
    &.bordered {
      background: var(--header_background);
      color:var(--header_font) !important;
      border-color: rgba(255, 255, 225, 0.15) !important;
      + .tab-content {
        border-color: rgba(255, 255, 225, 0.15);
        background: var(--content_background) !important;
        color: var(--content_font) !important;
      }
    }
    > li.active > a {
      background: rgba(0, 0, 0, 0.43);
      color:var(--header_font) !important;
      border-color: rgba(255, 255, 225, 0.15) !important;
      &:focus, &:hover {
        background: rgba(0, 0, 0, 0.43);
        color: #fff;
        border-color: rgba(255, 255, 225, 0.15) !important;
      }
      -webkit-box-shadow: 0 -2px 0 #ccf0ff;
      -moz-box-shadow: 0 -2px 0 #ccf0ff;
      box-shadow: 0 -2px 0 #ccf0ff;
    }
  }
  .tabs-left > {
    .nav-pills, .nav-tabs {
      border-color: rgba(255, 255, 225, 0.15);
    }
  }
  .tabs-right > .nav-tabs {
    border-left-color: rgba(255, 255, 225, 0.15);
  }
  .jarviswidget header .nav-tabs > li.active > a {
    background: var(--header_background);
    color:var(--header_font) !important;
    &:focus, &:hover {
      background: var(--header_background);
      color: var(--header_font)
    }
  }

  .well-light .nav-tabs {
    background: var(--header_background);
    color: var(--header_font);
    padding-left: 10px;
  }
  
  .pagination > .active > {
    a {
      background-color: #36AECC;
      border-color: #36AECC;
      &:focus, &:hover {
        background-color: #36AECC;
        border-color: #36AECC;
      }
    }
    span {
      background-color: #36AECC;
      border-color: #36AECC;
      &:focus, &:hover {
        background-color: #36AECC;
        border-color: #36AECC;
      }
    }
  }
}

.smart-style-3 {
.smart-form .rating input + label:hover {
  color: #3b9ff3;
  ~ label {
    color: #3b9ff3;
  }
}

.smart-style-3.menu-on-top {
  .menu-item-parent {
    font-size: 10px;
  }
  #left-panel {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  nav {
    ul ul {
      li {
        > a {
          text-shadow: none !important;
          color: #646E75;
        }
        a {
          padding-left: 10px !important;
          font-size: 13px;
        }
        &:hover > a {
          color: #fff !important;
          background-color: #5E6C88;
        }
      }
      .active > a {
        color: #fff !important;
      }
    }
    > ul {
      ul {
        ul {
          border-top: 1px solid #c7c7c7 !important;
        }
        li:hover > ul {
          background: #333;
        }
      }
      > li > a:after {
        color: #8AA1B3 !important;
      }
    }
  }
  aside {
    background: inherit;
    &#left-panel {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid #B8B8B8;
      border-top: 1px solid #333;
      nav > ul > li {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        > {
          a {
            text-shadow: none !important;
            font-size: 13px;
            padding: 10px 9px !important;
          }
          ul {
            background: #2C3742;
          }
        }
        &:hover {
          background: #2e3e57;
          border-right-color: #fff;
          border-left-color: #fff;
          > a {
            color: #F1F1F1 !important;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            padding-left: 8px !important;
            padding-right: 8px !important;
          }
        }
      }
    }
  }
  nav {
    ul ul {
      li a, ul li a {
        color: #ADBED3 !important;
      }
      li a:hover {
        color: #fff;
        background-color: #5E6C88 !important;
      }
      ul {
        li a:hover {
          color: #fff;
          background-color: #5E6C88 !important;
        }
        background: #2e3e57 !important;
        border: 1px solid transparent;
      }
      background: #2e3e57 !important;
      border: 1px solid transparent;
      li:hover {
        > a:after {
          color: #D5D5D5;
        }
        > a:after {
          color: #fff;
        }
      }
      .active > a:hover, li.active:hover > a {
        color: #fff !important;
      }
    }
    > ul {
      ul > li a {
        &:after, &:hover:after {
          color: #D5D5D5;
        }
      }
      > li > a:after {
        color: #D5D5D5;
      }
    }
    > ul ul > li a:hover:after {
      color: #fff;
    }
  }
}

.btn {
  background-color: var(--button_background) !important;
  color: var(--button_font) !important;
}

}

.mat-tab-group {
  font-family: var(--font_family);
    font-size: inherit;
}

