.filterctrl{
    margin-top: 1%;    
}
.filterbtn-group {
    margin-top: 1.4%;
}
.padding-10 {
    padding: 10px !important;
}
.user-tab{
    display: -webkit-inline-box !important;
    display: inline-flex !important;
    max-height: 42px;
}
.close-icon{
    margin-top: 6% !important;
    margin: 5px;
    padding: 5px;
}
.filterctrl .mat-raised-button.mat-primary {
    background: #0047bb !important;
    border-radius: 4px !important;
    color: #fff !important;
}
.search-btn-control {
    margin-bottom: 7px;
}
.widget-body {
    padding-left: 10px !important;
}
.remove-margin{
    margin-top:0% !important;
}