:root{
  --navigation_background:#22262e; 
  --leftPanel_background:#1b1e24; 
  --footer_background:#1b1e24; 
  --header_background:#eeeeee;
  --title_background:#353D4B; 
  --leftPanel_font:#E1EAF1; 
  --footer_font:#ffffff; 
  --header_font:#000000; 
  --button_background:#275b89; 
  --button_font:#ffffff; 
  --input_background:#ffffff; 
  --input_font:#000000; 
  --title_font:#000000; 
  --content_background:#eeeeee; 
  --content_font:#000000; 
}