.gu-mirror {
    cursor: grabbing;
    position: fixed;
    margin: 0;
    z-index: 9999;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80)
  }
  
  .gu-hide {
    display: none!important
  }
  
  .gu-unselectable {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important
  }
  
  .gu-transit {
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20)
  }
  
  .mat-dialog-content {
    max-width: none !important;
    max-height: none !important;
    overflow: initial !important;
}

/deep/ .mat-form-field-infix {
  width: 100% !important;
}

/deep/.mat-step-header .mat-step-icon {
  background-color: #1b1e24;
  color: #fff;
}

mat-form-field{
  width: 100%;
}